[submodule "module-2-stack-and-queue-biahlil"]
	path = module-2-stack-and-queue-biahlil
	url = https://github.com/DSA26-ULM/module-2-stack-and-queue-biahlil.git
[submodule "linked-list"]
	path = linked-list
	url = https://github.com/DSA26-ULM/module-3-linked-list-biahlil-1.git
[submodule "sorting"]
	path = sorting
	url = https://github.com/DSA26-ULM/module-4-sorting-biahlil.git

[submodule "searching"]
	path = searching
	url = https://github.com/DSA26-ULM/module-5-searching-biahlil.git
